.container{
	width: 1166px;
	margin: 0 auto;
}

div header p{
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: inline-block;
	margin-top: 21px;
	margin-bottom: 42px;
	vertical-align: middle;
}

.pfpbox{
	display: inline-block;
	margin-top: 11px;
	margin-left: 29px;
}

.sectiontitle{
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}