body{
	background: #F1F1F1;
}

.container{
	width: 1166px;
	margin: 0 auto;
}

div header{
	width: 100%;
	position: fixed;
	z-index: 100;
	background: #F1F1F1;
}


div header p{
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: inline-block;
	margin-right: 35px;
	margin-bottom: 20px;
	vertical-align: middle;
}
.lastP{
	margin-right: 29px;
}

.pfpbox{
	display: inline-block;
	margin-top: 11px;
	margin-left: 0px;
}


.sectiontitle{
	padding-top: 76px;
	position: static;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 27px;
}
.divbox{
	width: 362px;
	height: 357px;
	border-radius: 5px;
	position: relative;
	background: #FFF;
	display: inline-block;
/*	margin-bottom: 57px;*/
}

.beach1{
	width: 362px;
	height: 186px;
	flex-shrink: 0;
	position: relative;
}

.beach1txt{
	color: #FFF;
	font-family: 'Roboto', sans-serif;	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	position: absolute;
	top: 32px;
	left: 41px;
}

.divboxchilde{
	position: absolute;
	width: 238px;
	bottom: 40px;
	left: 37px;
}

h3{
	color: #8A8787;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	line-height: 15px;
	display: inline-block;
	vertical-align: middle;
}

.clock{
	display: inline-block;
	margin-top: 11px;
	margin-right: 11px;
	margin-left: 3px;
}

.timediv h3{
	margin-bottom: 7px;
}

.ImgDiv1{
	width: 758px;
	margin: 0 auto;
/*	flex-shrink: 0;*/
	position: relative;
	display: inline-block;
}

.bridgepic{
	width: 758px;
	height: 430px;
	margin-right: 10px;
	margin-bottom: 42px;
	display: inline-block;
}

.mountainpic{
	width: 758px;
	height: 430px;
	margin-right: 10px;
	margin-bottom: 42px;
	display: inline-block;
	margin-bottom: 36px;
}

.BridgeText{
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	position: absolute;
	top: 203px;
	left: 278px;

}

.ImgDiv2{
	width: 362px;
	display: inline-block;
	vertical-align: top;
	margin-left: 42px;
}

.forestpic{
	margin-bottom: 98px;
	display: inline-block;
}

.elephantpic{
	margin-bottom: 103px;
}

.footerdiv{
	width: 100%;
	height: 201px;
	background: #243043;
	display: inline-block;
	position: relative;
}

.link{
	color: #818687;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 14px;
}

.footerdivchilde{
	display: inline-block;
	color: #818687;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 59px;
	margin-left: 19%;
	width: 129px;
	height: 98px;
}


.footerdivchilde2{
	display: inline-block;
	color: #818687;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	width: 129px;
	height: 98px;
}

.footerdivchilde3{
	display: inline-block;
	color: #818687;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	width: 129px;
	height: 98px;
	margin-right: ;
}

.footermsg{
	display: inline-block;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	vertical-align: top;
	margin-top: 59px;
	margin-left: 53px;
}

.GeoLabLogo{
	width: 38px;
	height: 40px;
	position: absolute;
	top: 58px;
	right: 138px;
}